@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .product-image-wrapper {
        text-align: center;
    }

    .product-image {
        object-fit: cover;
        width: auto;
        height: 300px;
        max-width: 100%;
    }

    .product-name {
        text-align: center;
        font-size: .8rem;
        font-weight: bold;
    }

    .author-name {
        text-align: center;
        font-size: .8rem;
    }

    .product-price {
        text-align: center;
        font-size: .8rem;
        margin-bottom: .2rem;
    }
</style>

<form class="form-inline py-3">
    <label class="mr-1">Category: </label>
    <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control mr-0 mr-sm-2"></select>
    <label class="mr-1 mt-2 mt-sm-0">Author: </label>
    <select asp-for="AuthorId" asp-items="Model.Authors" class="form-control"></select>

</form>
<div class="row mx-md-n2">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-3 px-md-2 mb-4 d-flex flex-column align-items-center ">
            <div class="product-image-wrapper">
                <img src="~/img/@product.PictureUri" class="product-image" />
            </div>
            <div class="product-name">
                <h6>@product.Name</h6>
            </div>
            <div class="author-name">
                <h6>@product.AuthorName</h6>
            </div>
            <div class="product-price">
                <p>@product.Price.ToString("c2")</p>
            </div>
            <button class="btn btn-success btn-sm mt-auto">
                <i class="fas fa-cart-plus"></i> Add to Basket
            </button>
        </div>
    }
</div>

<partial name="_PaginationPartial" model="Model.PaginationInfo" />

@section scripts {
    <script>
        $("#CategoryId,#AuthorId").change(function () {
            $(this).closest("form").submit();
        });
    </script>
}
